<footer>
    <div class="endNavigation">
        <div>
            <p>Created by: Dylan Watters (RGC is not a real group)</p>
        </div>
        <div class="socialTabs">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</footer>
</body>
</html>