<%- include("./partials/header.ejs") %>
<main id="home">
    <p class="bold">About Us:</p>
    <p>
        The Regular Game Club is intended to foster
        community through the mutual enjoyment
        of games. We believe that games can bring 
        any and all people together.
    </p>
    <p>
        Here, you can host an event using the form
        in the 'New Event' page, or you can search
        through events you may be interested in using
        the 'Events' page.
    </p>
    <p>
        As a reminder, please be kind and respectful.
    </p>
</main>
<%- include("./partials/footer.ejs") %>