<%- include("./partials/header.ejs") %>
<main id="home">
    <p class="bold">Contact Information</p>
    <p>Phone: 555-555-5555</p>
    <p>Email: dwatter2@uncc.edu</p>
</main>
<%- include("./partials/footer.ejs") %>