<%- include("./partials/header.ejs") %>
<main id="home">
    <p class="bold">Welcome to the Regular Game Club!</p>
    <p>Feel free to search for events or even list your own</p>
</main>
<%- include("./partials/footer.ejs") %>