<%- include('../partials/header.ejs')%>
<main id="eventCreate">
    <h2 class="bold underline">Log In to an Existing Account:</h2>

    <form action = '/users/login' method = 'POST'>
        <label class="bold" for="email">Email: <input type="email" id="email" name="email" required> </label>
           
        <label class="bold" for="password">Password: <input type="password" id="password" name="password" required> </label>
           
        <input type="submit" value="Login">     
    </form>
</main>
<%- include('../partials/footer.ejs')%>